.leetcode-timer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(219, 50, 50);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 20px;
    font-family: monospace;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    user-select: none;
    cursor: move;
  }